/* Color */
$primary-n : #d32f2f ;
$primary-l : #ff6659 ;
$primary-d : #9a0007 ;

$secondary-n : #f48fb1 ;
$secondary-l : #ffc1e3 ;
$secondary-d : #bf5f82 ;

$accent-n : #ab47bc ;
$accent-l : #df78ef ;
$accent-d : #790e8b ;

$black-n : #263238 ;
$black-l : #4f5b62 ;
$black-d : #000a12 ;

$white-n : #eceff1 ;
$white-l : #ffffff ;
$white-d : #babdbe ;